<p style="color: green"><%= notice %></p>

<%= render @store_resource %>

<div>
  <%= link_to "Edit this resource", edit_store_resource_path(@store_resource) %> |
  <%= link_to "Back to resources", store_resources_path %>

  <%= button_to "Destroy this resource", @store_resource, method: :delete %>
</div>
